#principal, #principalbarras{
  margin-left:10px;
  font-family:Verdana, Helvetica, sans-serif;
  font-size:10px;
}
#barras{
  width:428px;
}
.barraIndividual{
  margin-top: 2px;
  margin-bottom: 2px;
  color:#FFF;
  padding-left:10px;
  height:30px;
  line-height:30px;
}
.barra1{ background-color: #FF0000; }
.barra2{ background-color: #0000FF; }
.barra3{ background-color: #FF6600; }
.barra4{ background-color: #009933; }

.divBorda{
  height: 99px;
  border-color: blue;
  border: 2px solid #73AD21;
}
.divTeste{
width: 330px;
}
